Pytorch-Deeplab-master/checkpoints/MS_DeepLab_resnet_pretrained_COCO_init.pth
Deeplabv3 Framework/pretrained_models/resnet/resnet34-333f7ec4.pth
Deeplabv3 Framework/pretrained_models/model_13_2_2_2_epoch_580.pth
Pytorch-Deeplab-master/pretrain/MS_DeepLab_resnet_pretrained_COCO_init.pth
